:root {
    --primario: #495261;
    --secundario: #ECAE36;
    --gris: #757575;
    --blanco: #ffffff;
    --oscuro: #212121;
    --grisClaro: #dfe9f3;
}
/*Globales*/
html {
    font-size: 62.5%;
    box-sizing: border-box; /*Para que el padding no modifique el tamaño de la caja, siempre
                            y cuando tenga esta un height definida*/
    /*scroll-snap-type: y mandatory;                         */
}

*, *:after, *:before {/*box-sizing tambien*/
    box-sizing: inherit;
}

body, textarea, input, select, option {
    font-size: 16px; /* 1rem = 10px */
    font-family: krub, sans-serif;
    letter-spacing: 0.1rem;

}

/*Tipografia*/

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.5rem;
    
}


 
h1, h2, h3{
    text-align: center;
    color: var(--primario);
} 


.titulo {
    color: var(--primario);
    text-align: center;
    text-transform: uppercase;
}